# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/quic_perf_server
/tcp_perf_client
/tcp_perf_server
/writeup/table.aux
/writeup/table.log
/writeup/writeup.aux
/writeup/writeup.log
/writeup/union.pdf
/writeup/writeup.bbl
/writeup/writeup.blg
